html, body {
    width: 100vw;
    overflow-x: hidden !important;
    background: transparent;
    z-index: 0;
    font-family: 'brandon-grotesque', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

* {
    text-decoration: none !important;
    color: inherit;
}

.items-container {
    width: 95vw;
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 20px;
}

.item {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 20px;
    width: 300px;
    height: 425px;
    border-radius: 3px;
    box-shadow: 3px 4px 12px 1px rgba(0,0,0,0.3);
}

.item-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.diamond-container {
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    transition: all 0.3s ease-out;
}

.diamond {
    margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    background: #555;
    overflow: hidden;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: -0.5px;
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
}

.diamond-wrapper {
    margin-top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.diamond-content {
    transform: rotate(-45deg);
}

.content-wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.3s ease-out;
}

.img-container {
    position: relative;
    width: 100%;
    min-height: 200px;
    margin-top: 80px;
}

.bg-square {
    position: absolute;
    width: 135px;
    height: 130px;
    border: 12px solid rgba(51,51,51,0.1);
    margin: 0 auto;
    left: 0;
    right: 0;
}

.item-img {
    position: absolute;
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
    margin-top: -20px;
    left: 0;
    right: 0;
}

.content-text {
    position: relative;
    width: 100%;
    font-size:small;
    margin-top: 20px;
}

.item-name {
    font-weight: 400;
    font-size: 1.35em;
    text-transform: uppercase;
    text-align: center;
}

.item-subtext-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 0.8em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #bbb;
    text-align: center;
}

.view-more-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #333;
    color: #fff;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-align: center;
    padding-top: 20px;
    user-select: none !important;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease-out;
}

.item-details-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background: rgba(0,0,0,0.65);
    z-index: 99;
    color: #f1f1f1;
    transition: all 0.3s ease-out;
}

.details-content-wrapper {
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-top: 70px;
}

.detail {
    margin-top: 5px;
}

.detail-desc {
    margin-top: 9px;
}

.detail-title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.detail-text {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 0.85em;
}

.detail-description {
    width: 95%;
    padding-left: 2.5%;
    padding-top: 2px;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.2em;
}

.detail-manual-link {
    margin-top: 8px;
    padding-left: 2.5%;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none !important;
}

.manual-icon-container {
    display: inline-block;
    margin-right: 5px;
}

.manual-svg {
    width: 15px;
    height: auto;
}

.manual-link-text {
    position: absolute;
    display: inline-block;
    padding-top: 2px;
    padding-left: 3px;
}

.delivery-container {
    margin-top: 15px;
}

.delivery-radio {
    position: absolute;
    transform: scale(0.75);
    margin-top: -3px;
}

.delivery-radio-text {
    display: inline-block;
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

    .delivery-radio-text:first-child {
        margin-right: 10px;
    }

.detail-gallery {
    position: relative;
    display: inline-block;
    width: 130px;
    overflow: hidden;
}

.thumb-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.35);
}

.thumb-overlay {
    position: absolute;
    width: 50px;
    height: 40px;
    padding-top: 10px;
    background: rgba(51,51,51,0.65);
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

.detail-thumb {
    width: 50px;
    height: auto;
}

.detail-price-container {
    display: inline-block;
    position: relative;
    float: right;
    width: calc(100% - 175px);
    text-align: right;
    padding-right: 20px;
    padding-top: 2px;
}

.price-subtext {
    font-weight: 300;
    font-size: 0.65em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.price-text {
    font-weight: 500;
    font-size: 2em;
    letter-spacing: -0.5px;
    padding-top: 5px;
}


/*START ITEM ACTIVE STYLES*/

.item.active > .diamond-container {
    margin-top: 0;
    margin-left: 0;
    transition: 0.3s ease-out;
}

    .item.active > .diamond-container > .diamond {
        transform: rotate(0deg);
        margin-top: 0;
        margin-left: 0;
        height: 0;
        transition: 0.3s ease-out;
    }

.item.active > .item-wrapper > .content-wrapper {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: 0.3s ease-out;
}

.item.active > .item-wrapper > .view-more-btn {
    bottom: calc(100% - 55px);
    transition: 0.3s ease-out;
}

.item.active > .item-wrapper > .item-details-container {
    height: 100%;
    transition: all 0.3s ease-out;
}

/*START CUSTOM CHECKBOX STYLES*/
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 26px;
    box-shadow: inset 0 0 0 0 #fff;
    cursor: pointer;
    height: 24px;
    position: relative;
    width: 41px;
    vertical-align: top;
    margin-bottom: 20px;
    outline: none !important;
    transition: border .25s .15s, box-shadow .25s .3s, padding .25s;
}

    input[type="radio"]:after {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 24px;
        box-shadow: inset 0 -3px 3px rgba(255, 255, 255, 0.025), 0 1px 4px rgba(255, 255, 255, 0.15), 0 4px 4px rgba(255, 255, 255, 0.25);
        content: '';
        display: block;
        height: 21px;
        left: 0;
        position: absolute;
        right: 16px;
        top: 0;
        margin-bottom: 19px;
        outline: none;
        transition: border .25s .15s, left .25s .1s, right .15s .175s;
    }

    input[type="radio"]:checked {
        border-color: rgba(255,255,255,0.75);
        box-shadow: inset 0 0 0 13px rgba(250,250,250,0.35);
        padding-left: 18px;
        outline: none;
        transition: border .25s, box-shadow .25s, padding .25s .15s;
    }

        input[type="radio"]:checked:after {
            border-color: rgba(255,255,255,0.75);
            left: 16px;
            right: 0;
            outline: none;
            transition: border .25s, left .15s .25s, right .25s .175s;
        }
/*END CUSTOM CHECKBOX STYLES*/
