@if (LineItem != null && LineItem.Product != null)
{
    <li class="row">
        <div class="col">
            <img src="@LineItem.Product.ImageLink" />
        </div>
        <div class="col">
            <h5>@LineItem.Product.ProductName</h5>
            <div>
                Quantity:&nbsp;&nbsp;
                <input type="number" min="0" value="@LineItem.Quantity" @onchange="HandleQuantityChange" />
            </div>
            <div class="mt-2">                
                 Price:&nbsp;&nbsp;@LineItem.Product.ProductPrice.ToString("c")                
            </div>
        </div>
        <div class="col">
            <button class="btn btn-light" @onclick="@(() => DeleteProduct(LineItem.ProductID))">Delete</button>
        </div>
    </li>
}


@code {
    [Parameter]
    public OrderLineItem LineItem { get; set; } = null!;

    void HandleQuantityChange()
    {

    }

    void DeleteProduct(int productID)
    {

    }
}