@page "/"
@page "/products"

@inject ISearchProductUseCase searchProductUseCase

<h3>Search Productss</h3>
<br />

<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>
<br />

@if (products != null && products.Count() > 0)
{
    <div class="row">
        @foreach (var product in products)
        {
            <ProductCardComponent Product="product"></ProductCardComponent>
        }
    </div>
}
else
{
    <text>No products found.</text>
}

@code {

    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = searchProductUseCase.Execute();
    }

    private void HandleSearch(string filter)
    {
        products = searchProductUseCase.Execute(filter);
    }

}
