@page "/"
@page "/products"
@using Blazor_E_Commerce.Web.Common.Controls


@inject ISearchProductUseCase searchProductUseCase

<div class="container">
    <SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>
    <br />

    @if (products != null && products.Count() > 0)
    {
        <div class="row">
            @foreach (var product in products)
            {
                <ProductCardComponent Product="product"></ProductCardComponent>
            }
        </div>
    }
    else
    {
        <text>No products found.</text>
    }
</div>
@code {
    private IEnumerable<Product> products = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = searchProductUseCase.Execute();
    }

    private void HandleSearch(string filter)
    {
        products = searchProductUseCase.Execute(filter);
    }

}