<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav w-100">
        <li class="nav-item"> 
            <a class="navbar-brand" href="">Blazor E Commerce</a>
        </li>
    </ul>
</div>

@code{

}